<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img class="d-inline-block mr-2" src="/favicon.ico" width="30" height="30" alt="">
    Surf Store
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <% if(currentUser){ %>
            <li class="nav-item d-inline-block mr-xl-3">
              <i class="fas fa-edit" style="font-size: 20px;"></i>
              <span class="d-inline-block ml-1">
                <a class="nav-link" href="/posts?showNewForm=true">New Post</a>
              </span>
            </li>
            <li class="nav-item d-inline-block mr-xl-3">
              <div class="dropdown">
                <span class="nav-link dropdown-toggle" id="cartMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-shopping-cart"></i> 
                  <span class="d-inline-block ml-1">
                    Shopping Cart  
                    <strong 
                      class="ml-1" 
                      id="num-items-label"
                      style="<%= currentUser.shoppingCart.length>0 ? 'display: inline-block;' : 'display: none;' %>"
                      >
                      (<%= currentUser.shoppingCart.length %>)
                    </strong>
                  </span> 
                </span>
                <div class="dropdown-menu" aria-labelledby="cartMenuBtn">
                  <% if(currentUser.shoppingCart.length){ %>
                    <% currentUser.shoppingCart.forEach(i=>{ %>
                      <div class="dropdown-item" id="<%= i._id %>">
                        <span class="d-inline-block cart-label">
                          <%= i.title %>
                          <span class="d-inline-block ml-2">
                            $ <strong class="price-label">
                              <%= i.price %>
                            </strong>
                          </span>
                        </span>
                        <button class="d-inline-block btn btn-sm btn-danger ml-2 cart-trash" type="button">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    <% }) %>
                    <% } %>
                    <div class="dropdown-item" id="empty-label">
                      Your Cart is Empty!
                    </div>
                    <span id="control-bar" style="<%= currentUser.shoppingCart.length ? 'display: block' : 'display: none;' %>">
                      <h4 class="text-center my-3">
                        Total:<span class="d-inline-block ml-3" id="total-label"></span>
                      </h4>
                      <hr>
                      <span class="justify-content-center" style="display: flex!important;">
                        <button class="btn-primary btn mr-1" type="button" id="buy-btn">Buy</button>
                        <button class="btn-danger btn ml-1" type="button" id="reset-cart-btn">Reset</button>
                      </span>
                    </span>
                </div>
              </div>
            </li>
            <li class="nav-item d-inline-block mr-xl-3">
              <a class="nav-link" href="/profile">
                <i class="fas fa-user-circle" style="font-size: 20px;"></i>
                <span class="d-inline-block ml-1">Profile</span>
              </a>
            </li>
            <li class="nav-item d-inline-block mr-xl-3">
              <i class="fas fa-sign-out-alt" style="font-size: 20px;"></i>
              <span class="d-inline-block ml-1">
                <a class="nav-link" href="/logout">Logout</a>
              </span> 
            </li>
            <li class="nav-item active" id="username-label"><h5 class="nav-link">Welcome <%= currentUser.username %>!</h5></li>
        <% } else { %>
            <li class="nav-item d-inline-block mr-xl-3">
              <i class="fas fa-sign-in-alt" style="font-size: 20px;"></i>
              <span class="d-inline-block ml-1">
                <a class="nav-link" href="/login">Login</a>
              </span>
            </li>
            <li class="nav-item d-inline-block mr-xl-3">
              <i class="fas fa-user-plus" style="font-size: 20px;"></i>
              <span class="d-inline-block ml-1">
                <a class="nav-link" href="/register">Register</a>
              </span>
            </li>
        <% } %>
        
    </ul>
  </div>
</div>
</nav>
<script src="/javascripts/navbar.js"></script>