<% layout("layouts/boilerplate") -%>
<h1>Index Page!</h1>
<a href="/posts/new">New Post</a>
<% posts.forEach(post=>{ %>

<h2><%= post.title %></h2>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div><a href="/posts/<%= post.id %>">View More</a></div>

<% }) %>
