<% layout("layouts/post-show-layout") -%>
<h1><%= post.title %></h1>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div>
  <% post.images.forEach(img=>{ %>
  <img src="<%= img.url %>" alt="surf board image" width="200px" />
  <% }) %>
</div>
<div><%= post.location %></div>
<!-- LA MAPPA ANDRA' QUI (in un div con id MAP) -->
<div id="map"></div>
<div>
  <a href="/posts/<%= post.id %>/edit">
    <button>Edit</button>
  </a>
</div>
<div>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
  </form>
</div>
<!-- REVIEWS -->
<h2>Leave a review</h2>
<form action="/posts/<%= post._id %>/reviews" method="post">
  <textarea name="review[body]" id="" cols="30" rows="10" required></textarea>
  <input
    type="number"
    name="review[rating]"
    min="1"
    step="1"
    max="5"
    id=""
    required
  />
  <input type="submit" value="Submit" />
</form>
<h3>all the reviews</h3>
<% post.reviews.forEach(function(review){ %>
<div>
  <strong><%= review.author.username %></strong>
  <p><%= review.body %></p>
  <small><%= review.rating %> Stars</small>
  <% if(review.author.equals(currentUser._id)){ %>
  <button class="edit-review-button">Edit</button>
  <form
    action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT"
    method="POST"
    class="edit-review-form"
  >
    <textarea name="review[body]" id="" cols="30" rows="10" required>
<%= review.body %></textarea
    >
    <input
      type="number"
      name="review[rating]"
      min="1"
      step="1"
      max="5"
      id=""
      value="<%= review.rating %>"
      required
    />
    <input type="submit" value="Update" />
  </form>
  <% } %>
</div>
<hr />
<% }) %>
